:root {
  --color-background: rgb(253, 247, 228);
  --color-layout: rgb(222, 208, 182);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, 'system-ui', 'Segoe UI', 'Noto Sans', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  background: var(--color-background);
  // Avoid fixed footer obscuring content
  padding-bottom: 50px;
}

a {
  color: black;
}

nav {
  width: 100vw;
  height: 4rem;
  background: var(--color-layout);
  display: flex;
  justify-content: space-around;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }

  > div a {
    margin: 0.25rem;
  }
}

.error {
  color: red;
}

.logoutButton {
  padding: 0.25rem 0.5rem;
  background: transparent;
  border: none;
  font-size: 1.125rem;
}

button {
  font-size: 0.875rem;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
